body {
  /* background-color: #c6c1c1; */
  color: #141414;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
