body {
  background: #101226;
  font-family: Arial;
}

h1 {
  text-align: center;
  color: #ccc;
}
h2 {
  margin-top: 0px;
}

.comprar {
  background: #a8f;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #103;
  font-weight: bold;
}

.item {
  background: #f7f7f7cb;
  border: 1px solid #e7e7e7;
  padding: 20px;
  /*  */
  border-radius: 10px;
  display: grid;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-content: space-evenly;
  align-content: ;
}
